/***************** body ********************************/
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}




/******************* Navbar css *************************/







/****************** Product css ************************/
.image-container{
    padding-top: 100px;
}
.product-image{
    max-width: 400px;
    max-height: 400px;
    
    
}