/***************** body css ********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************* Navbar css *************************/
.navbar {
  background-color: rgb(239, 234, 234);
}

.navbar-md-buttons {
  display: none;
  background-color: rgb(179, 229, 239);
}
@media screen and (max-width: 992px) {
  .navbar .navbar-lg-buttons {
    display: none;
  }
  .navbar-md-buttons {
    display: block;
  }
}

/****************** Product css ************************/
.product .image-container {
  margin-top: 90px;
}

/******************* cart css ***************************/
.cart-container {
  min-height: 300px;
}
.cart-items-container .cart-items {
  padding: 25px 0;
  border-bottom: 1px solid lightgray;
}
.cart-items-container .image-container {
  margin-top: 35px;
}
.cart-items-container .total-price {
  font-size: 20px;
  font-weight: 600;
}
.cart-items-container .btn-checkout {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  margin: 12px 0;
  color: black;
  font-weight: 600;
  background-color: orange;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
}

@media screen and (max-width: 992px) {
}

/**************** login && register css ****************************/

.login-main {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main .login-container {
  width: 350px;
  height: 450px;
  background-color: rgb(222, 226, 232);
  padding: 20px;
  border-radius: 10px;
}
.switch-btn{
  display: block;
}
.error-text{
  color: red;;
}

/***************** Footer css **************************/
.footer-container {
  background-color: rgb(239, 234, 234);
}

.footer-list {
  list-style-type: none;
}
.social-link {
  font-size: 30px;
  margin-right: 18px;
}

/******************* Not-Found css ***********************/
.notfound-container{
  min-height: 300px;
}
